.page-header {
  background-color: var(--pf-t--global--background--color--primary--default);
  padding: var(--pf-t--global--spacer--lg);
  border-bottom: var(--pf-t--global--border--width--sm) solid var(--pf-t--global--border--color--main--default);
}

.page-header h1 {
  color: var(--pf-t--global--text--color--regular);
  margin-bottom: var(--pf-t--global--spacer--md);
}

.page-header p {
  color: var(--pf-t--global--text--color--subtle);
}
